<!-- Modal -->
<div class="modal fade" id="novoRent" tabindex="-1" role="dialog" aria-labelledby="novoRent" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle">Novo empréstimo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <form th:action="@{/rents/salvar}" th:object="${newRent}" method="post">
                        <div class="row justify-content-center">
                            <div class="col-11 col-md-9">
                                <div class="form-group">
                                    <input type="hidden" th:field="*{codigo}" class="form-control" id="modal-codigo" />
                                </div>
                                <div class="form-group coloca-width-no-porco-dio">
                                    <label class="bmd-label-floating">Cliente</label>
                                    <input type="hidden" th:field="*{pessoa.codigo}" class="form-control text-dark"
                                           id="modal-codigoCliente" />
                                    <input th:field="*{pessoa.nome}" required="true" type="text" class="form-control text-dark"
                                           id="modal-nomeCliente" >
                                </div>
                                <div class="form-group coloca-width-no-porco-dio">
                                    <label class="bmd-label-floating">Livro</label>
                                    <input type="hidden" th:field="*{livro.codigo}" class="form-control text-dark"
                                           id="modal-codigoLivro" />
                                    <input th:field="*{livro.nome}" required="true" type="text" class="form-control text-dark"
                                           id="modal-nomeLivro">
                                </div>
                                <div class="form-group">
                                    <label class="bmd-label-floating">Data devolução</label>
                                    <input th:field="*{devolucao}" required="true" type="text" class="form-control text-dark"
                                           id="modal-devolucao">
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary pull-right">Salvar</button>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>