	<div class="sidebar" data-color="purple" data-background-color="black" data-image="../assets/img/sidebar-2.jpg">
        <div class="logo"><a href="#" class="simple-text logo-normal">
            Bliblioteca
        </a></div>
		<div class="sidebar-wrapper">
			<ul class="nav">
				<li class="nav-item">
					<a class="nav-link" href="/home/">
						<i class="material-icons">dashboard</i>
			            <p>Dashboard</p>
		            </a>
		        </li>
				<li class="nav-item">
		        	<a class="nav-link" href="/person/">
		            	<i class="material-icons">person</i>
		                <p>Pessoas</p>
		            </a>
		        </li>
		        <li class="nav-item">
		        	<a class="nav-link" href="/books/">
		            	<i class="material-icons">content_paste</i>
		                <p>Livros</p>
		            </a>
		        </li>
		        <li class="nav-item">
		        	<a class="nav-link" href="/booktypes/">
		            	<i class="material-icons">content_paste</i>
		               	<p>Categorias de livros</p>
		            </a>
		        </li>
		        <li class="nav-item ">
		        	<a class="nav-link" href="/rents/">
		            	<i class="material-icons">library_books</i>
		                <p>Empréstimos</p>
		            </a>
		    	</li>
			</ul>
		</div>
	</div>