<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="partials/_head.html"></head>
<body class="dark-edition">
<div class="wrapper ">
    <div th:insert="partials/_menuEsquerdo.html"></div>
    <div class="main-panel">
        <div class="content">
            <div class="container-fluid">
                <div th:replace="partials/_alert.html"></div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header card-header-primary row">
                                <div class="col-7">
                                    <h4 class="card-title ">Livros</h4>
                                    <p class="card-category">Livros do acervo</p>
                                </div>
                                <div class="col-5">
                                    <button type="button" class="btn btn-primary pull-right" id="new">Novo livro
                                    </button>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead class=" text-primary">
                                        <th>Nome</th>
                                        <th>Categoria</th>
                                        <th>Qtd. Total</th>
                                        <th>Qtd. Disponivel</th>
                                        <th>Qtd. Emprestada</th>
                                        <th class="text-center">Opções</th>
                                        </thead>
                                        <tbody>
                                        <tr th:each="livro : ${page}" th:if="${!page.empty}">
                                            <td th:text="${livro.nome}"></td>
                                            <td th:text="${livro.categoria}"></td>
                                            <td th:text="${livro.total}"></td>
                                            <td th:text="${livro.disponivel}"></td>
                                            <td th:text="${livro.emprestados}"></td>
                                            <td class="text-center">
                                                <a class="btn btn-outline-primary btn-sm openModal"
                                                   data-toggle="tooltip" style="color: #FFFFFF;" data-placement="top"
                                                   title="Editar"
                                                   th:data-codigo="${livro.codigo}" th:data-nome="${livro.nome}"
                                                   th:data-categoria="${livro.categoria.nome}"
                                                   th:data-cod-categoria="${livro.categoria.codigo}"
                                                   th:data-quantidade="${livro.total}">
                                                    <i class="fas fa-pencil-alt"></i></a>
                                                <a class="btn btn-outline-danger btn-sm" data-toggle="tooltip"
                                                   data-placement="top" title="Excluir"
                                                   th:href="@{/books/excluir/{codigo}(codigo=${livro.codigo})}">
                                                    <i class="far fa-trash-alt"></i></a>
                                            </td>
                                        </tr>
                                        <tr th:unless="${!page.empty}">
                                            <td colspan="6">Nenhum livro cadastrado</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div th:insert="livro/_novo.html"></div>
            <footer class="footer" th:insert="partials/_footer.html"></footer>
            <script>
                const x = new Date().getFullYear();
                let date = document.getElementById('date');
                date.innerHTML = '&copy; ' + x + date.innerHTML;
            </script>
        </div>
    </div>
</div>
<div th:insert="partials/_conf.html"></div>
<script th:src="@{/assets/js/core/jquery.min.js}"></script>
<script th:src="@{/assets/js/core/jquery.mask.js}"></script>
<script th:src="@{/assets/js/core/popper.min.js}"></script>
<script th:src="@{/assets/js/core/bootstrap-material-design.min.js}"></script>
<script src="https://unpkg.com/default-passive-events"></script>
<script th:src="@{/assets/js/plugins/perfect-scrollbar.jquery.min.js}"></script>
<script async defer src="https://buttons.github.io/buttons.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/easy-autocomplete/1.3.5/jquery.easy-autocomplete.js"></script>
<script th:src="@{/assets/js/plugins/chartist.min.js}"></script>
<script th:src="@{/assets/js/plugins/bootstrap-notify.js}"></script>
<script th:src="@{/assets/js/material-dashboard.js?v=2.1.0}"></script>
<script th:src="@{/assets/demo/demo.js}"></script>
<script th:src="@{/assets/js/scriptLivro.js}"></script>
<script th:src="@{/assets/js/scriptConf.js}"></script>
</body>
</html>